<section class="page recent-posts-page">
    <div class="posts-page">
        {{#each posts as | post |}}
        {{> posts/post_preview post}}
        {{/each}}
    </div>

    {{> posts/pagination pages}}
</section>