<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- {{#each meta}}
        <meta 
    {{/each}} --}}
    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/css/main.css" type="text/css" />
    {{#if isAuthPage}}
    <link rel="stylesheet" href="/assets/css/auth.css" type="text/css" />
    <script src='/assets/js/auth.js'></script>
    {{/if}}
</head>

<body>
    {{> header}}
    {{{body}}}
    {{> footer}}

    <script>
        let isMenuOpen = false;

        const menuButton = document.querySelector('#menu-button');
        const menu = document.querySelector('#menu')

        menuButton.addEventListener('click', () => {
            isMenuOpen
                ? menu.classList.remove('active')
                : menu.classList.add('active');

            isMenuOpen = !isMenuOpen;
        })
    </script>
</body>

</html>