<section class="page error-page">
    <img src="/assets/img/oops.jpg" alt="">
    <h1 class="error-page__title">Oops!</h1>
    {{#if status}}
    <span class="error-page__status">Error {{status}}</span>
    {{/if}}
    <span class="error-page__message">{{message}}</span>
</section>