*,
*::before,
*::after {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	min-height: 100vh;
}

a {
	text-decoration: none;
}

button {
	border: none;
	background-color: unset;
	transition: 0.15s transform ease-in-out;
	transform: scale(1);
}

button:hover {
	cursor: pointer;
	transform: scale(1.03);
}

:root {
	--grey: #cecece;

	--primary: #1888e9;
	--black: #313131;
	--white: #ffffff;
	--red: #eb4f4f;
}

header {
	position: sticky;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 60px;
	background-color: white;
	align-items: center;
}

header .logotype {
	vertical-align: middle;
}

header nav {
	width: 100%;
	padding: 0px 7vw;
	display: flex;
	justify-content: space-between;
	height: 100%;
}

header nav ul{
	display: flex;
	list-style-type: none;
	align-items: center;
	height: 100%;
}

header nav ul li:not(:last-child){
	margin-right: 16px;
}