*,
*::before,
*::after {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
}

button {
	border: none;
	background-color: unset;
	transition: 0.15s transform ease-in-out;
	transform: scale(1);
}

button:hover {
	cursor: pointer;
	transform: scale(1.03);
}

:root {
	--grey: #cecece;
	--light-grey: #eeeeee;
	--primary: #1888e9;
	--black: #313131;
	--white: #ffffff;
	--red: #eb4f4f;
}

header {
	position: sticky;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 60px;
	background-color: white;
	align-items: center;
}

header .logotype {
	height: 100%;
	display: flex;
	align-items: center;
}

header nav {
	width: 100%;
	padding: 0px 7vw;
	display: flex;
	justify-content: space-between;
	height: 100%;
	align-items: center;
}

.header__menu{
	display: flex;
	list-style-type: none;
	align-items: center;
	height: 100%;
}

.header__menu__element:not(:last-child){
	margin-right: 16px;
}

.homepage {
	width: 86vw;
	margin: 0 auto;
	flex-grow: 1;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(550px,1fr));
	grid-gap: 20px;
	grid-auto-rows: minmax(400px, fit-content);
	align-content: center;
	align-items: center;
}

.hero__title {
	margin-bottom: 20px;
	font-size: 42px;
}

.hero__info {
	max-width: 600px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.61;
	margin-bottom: 12px;
}

.hero__svg {
	width: 100%;
	height: auto;
	object-fit: contain;
	max-width: 450px;
	display: block;
	margin-left: auto;
}

#menu-button {
	height: 32px;
	width: 32px;
	align-items: center;
	justify-content: center;
	display: none;
}

.menu-button__center {
	width: 18px;
	height: 2px;
	background-color: var(--black);
	position: relative;
}

.menu-button__center::before,
.menu-button__center::after {
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	transition: 0.2s transform ease-in-out;
	background-color: inherit;
	position: absolute;
	left: 0px;
	top: 0px;
}

.menu-button__center::before {
	transform: translateY(calc(-100% - 2px));
}

.menu-button__center::after {
	transform: translateY(calc(100% + 2px));
}

@media (max-width: 1280px) {
	.hero__svg {
		margin: 0 auto;
	}

	.homepage > * {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.homepage .left {
		margin-bottom: 30px;
		text-align: center;
	}
}

@media screen and (max-width: 800px) {
	.header__menu {
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		width: 100vw;
		height: 100vh;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		background-color: var(--black);
		padding-top: 10vh;
		transition: 0.4s transform ease-in-out;
		transform: translateX(100%);
	}

	.header__menu.active {
		transform: translateX(0);
	}

	.header__menu__element,
	.header__menu__element:not(:last-child) {
		margin: 0px;
		padding: 16px 12px;
		display: flex;
		justify-content: center;
	}

	.header__menu__element__link {
		font-size: 21px;
		color: white;
	}

	#menu-button {
		display: flex;
	}

	.header__menu.active + #menu-button .menu-button__center {
		background-color: white;
		transform: rotateZ(45deg);
	}

	.header__menu.active + #menu-button .menu-button__center::before {
		transform: translateY(0);
	}

	.header__menu.active + #menu-button .menu-button__center::after {
		transform: translateY(0) rotate(90deg);
	}
}

@media (max-width: 800px) {
	.homepage {
		grid-template-columns: 1fr;
	}
}


footer {
	background-color: var(--light-grey);
	padding: 8px 7vw; 
	font-size: 12px;
}



/* MOVE THIS TO posts.css */
.create-form__field__input.select option {
	display: flex;
	align-items: center;
}
.create-form__field__input.select option::before{
	content: "";
	display: block;
	margin-right: 5px;
	width: 6px;
	height: 6px;
	background-color: currentColor;
	border-radius: 50%;
}

.create-form__field__input.select option span {
	color: var(--black)
}